* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: $root-font-size;
}

body {
  margin: 0;
  font-family: $font-nanum;
  -webkit-font-smoothing: antialiased; // 据说抗锯齿
}

a {
  text-decoration: none;
  color: inherit;
}

/* https://github.com/twitter/twemoji#inline-styles */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.2em;
}