@font-face {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Myeongjo'),
    url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo)
    format('woff');
}
