main.categories {
	max-width: $archive-main-width;
	padding: 6 * $gutter $gutter 0 $gutter;
	margin: 0 auto;

	ul.category-list > .category-list-item {
		margin-bottom: 5rem;
	}

	li.category-list-item {
		/* font */
		color: #999;

		/* layout */
		list-style: none;
	}

	.category-list-child > li.category-list-item {
		/* font */
		font-size: 0.8rem;

		/* layout */
		padding: 0.5rem 0 0.5rem 0;
		text-align: center;
	}
}