main.tags {
	/* layout */
	max-width: $archive-main-width;
	padding: 6 * $gutter $gutter 0 $gutter;
	margin: 0 auto;
	line-height: 2.5rem;

	.tag-list {
		margin-top: 2rem;
		padding-left: 0;
	}
	
	.tag-list-item {
		/* font */
		font-style: italic;
		color: #999;

		/* layout */
		display: inline-block;
		margin-right: 2rem;

		/* etc */
		list-style: none;
	}
}