<article>
  <h1 class="article-title">
    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h1>

  <section class="article-meta">
    <p class="article-date"><%- date(post.date, 'MMMM DD YYYY') %></p>
  </section>

  <section class="article-entry">
    <%- post.content %>
  </section>
  <% if (post.categories && post.categories.length){ %>
	<div class="article-category">
	  <%- list_categories(post.categories, {
		show_count: false,
		class: 'article-category',
		style: 'none',
		separator: ' > '
	  }) %>
	</div>
  <% } %>
  <% if (post.tags && post.tags.length){ %>
	<%- list_tags(post.tags, {
	  show_count: false,
	  transform: (name) => '# ' + name,
	  class: 'article-tag'
	}) %>
  <% } %>
</article>
