<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= theme.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
  <%- autoCanonical(config, page) %>
  <%- css('css/app') %>
  <!-- <link rel='stylesheet' href='http://fonts.useso.com/css?family=Source+Code+Pro'> --> 
  <% if (theme.google_analytics){ %>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '<%= theme.google_analytics %>', 'auto');
	ga('send', 'pageview');

</script>
<% } %>
</head>
